<div class="container">
  <div class="row mt-5">
    <div class="col section">
      <div class="row">
        <div class="col section-heading">
          <h1>New Skill Category</h1>
          <%= link_to "Back", portfolio_path(@portfolio) %>
        </div>
        <hr>
      </div>
        <%= form_with(model: [@portfolio, @skill_category]) do |form| %>
          <% if @skill_category.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@skill_category.errors.count, "error") %> prohibited this Skill Category from being saved:</h2>
              <ul>
                <% @skill_category.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>



            <% frame_id = dom_id(SkillCategory.new, "name_turbo_frame") %>
            <%= turbo_frame_tag frame_id do %>
              <div class="section-heading">
                <h2>Skill Categories</h2>
                <%= link_to  "Cancle", portfolio_path(@portfolio) %>  
              </div>
              <hr>
              <div class="row mb-3">
                <div class="col-10"><%= form.text_field :name, placeholder: "Name", class: "form-control" %></div>
                <div class="col-2"><%= form.submit "Save", class: "d-grid btn btn-outline-primary" %></div>
              </div>
            <% end %>
            
            <hr>
          <div>
            <%= form.submit %>
          </div>

        <% end %>
    </div>
  </div>
</div>
