<%= form_with(model: portfolio, id: "about-form") do |form| %>
  <% if portfolio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-around">
    <div class="col-sm-4">

      <div class="mb-3">
        <%= form.label :image, class: "form-label" %>
        <%= turbo_frame_tag dom_id(@portfolio, "image_turbo_frame") do %>
          <%= form.file_field :image, class: "form-control" %>
          <%= form.button "Save" %>
          <%= link_to  "Cancel", @portfolio %>
        <% end %>
        
      </div>

      <% if @portfolio.image.attached? %>
        <div class="mb-3">
          <%= image_tag @portfolio.image, class: "img-thumbnail", id: "about-form-img" %>
        </div>
      <% end %>

    </div>
    <div class="col-sm-4">
        <div class="mb-3">
          <%= form.label :welcome_message, class: "form-label" %>
          <%= render "inline_fields", form: form, attribute: :welcome_message do %>
            <%= form.text_field :welcome_message, class: "form-control" %>
          <% end %>
        </div>      
      <div class="mb-3">
        <%= form.label :about_me_text, class: "form-label"  %>
        <%= render "inline_fields", form: form, attribute: :about_me_text do %>
          <%= form.text_area :about_me_text, class: "form-control" %>
        <% end %>
      </div>
      <div class="d-grid">
        <%= form.submit class: "btn btn-outline-primary" %>
      </div>
    </div>    
  </div>
<% end %>
