<div class="container">
  <div class="row">
    <div class="col">
      <p style="color: green"><%= notice %></p>

      <p>About</p>
      <%= link_to  "Edit", edit_portfolio_path(@portfolio) %>
      <p>Main Photo</p>
      <%= image_tag @portfolio.about_photo, width: "300"%>
      <p>Welcome Message</p>
      <p><%= @portfolio.welcome_message %></p>
      <p>Text</p>
      <p><%= @portfolio.about_me_text %></p>

      <p>Projects</p>
      <%= link_to  "Add", new_project_path %>
      <% @portfolio.projects.each do |project| %>
        <p class="project-name"><%= project.name %></p>
        <%= link_to "Show" , project_path(project) %>
        <%= link_to "Edit" , edit_project_path(project) %>
      <% end %>

      <p>Skill Categories</p>
      <%= link_to  "Add", new_skill_category_path %>
      <% @portfolio.skill_categories.each do |s_c| %>
        <%= link_to  s_c.name, s_c %>
      <% end %>

      <p>Messages</p>
      <%= link_to  "All Messages", portfolio_messages_path(@portfolio) %>
      <%= @portfolio.messages.count %>
      <p>Last Message:</p>
      <p><%= @portfolio.messages.last.name %></p>
      <p><%= @portfolio.messages.last.email %></p>
      <p><%= @portfolio.messages.last.message %></p>
      
    
    </div>
  </div>
</div>

