<div class="container">
  <div class="row justify-content-around">

    <div class="col-sm-4 ">

      <div class="row">
        <div class="col section mt-3">
          <div class="row">
            <div class="col section-heading">
              <h2><%= link_to  "Messages", portfolio_messages_path(@portfolio) %></h2>
              <span><%= @portfolio.messages.count %></span>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col section-content">
              <p><%= @portfolio.messages.last.name %>:</p>
              <p><%= @portfolio.messages.last.message %></p>                
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="col-sm-7">
        <div class="row">
          <div class="col section mt-3">
            <div class="row">
              <div class="col section-heading">
                <h2>About</h2>
                <%= link_to  "Edit", edit_portfolio_path(@portfolio) %>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col section-content">
                    <h4>Main Photo:</h4>
                      <%= form_with(model: @portfolio) do |form| %>
                        <% if @portfolio.image.attached? %>
                          <%= image_tag @portfolio.image, id: "main-photo" %>
                        <% else %>
                          <%= image_tag "https://via.placeholder.com/300", id: "main-photo" %>
                        <% end %>
                        <div class="mb-3">
                          <%= form.label :image, class: "form-label" %>
                          <%= form.file_field :image, class: "form-control" %>
                          <%= form.submit class: "btn btn-outline-primary mt-3" %>
                        </div>
                      <% end %>
                        
                  </div>
                </div>
                <div class="row">
                  <div class="col section-content">
                    <%= form_with(model: @portfolio) do |form| %>
                      
                      <% if @portfolio.resume.attached? %>
                        <iframe src="<%= rails_blob_path(@portfolio.resume, disposition: :inline) %>" height="200" width="300"></iframe>
                      <% end %>
                      
                      <div class="mb-3">
                        <%= form.label :resume, class: "form-label" %>
                        <%= form.file_field :resume, class: "form-control" %>
                        <%= form.submit class: "btn btn-outline-primary mt-3" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              
              </div>
              <div class="col">
                <div class="row">
                  <div class="col section-content">
                    <div class="section-heading">
                      <h4>Welcome Message:</h4>
                    </div>
                    <hr>
                    <%= render  "inline_edit", model: @portfolio, attribute: :welcome_message do %>
                      <p><%= @portfolio.welcome_message %></p>
                    <% end %>
                  </div>                
                </div>
                <div class="row">
                  <div class="col section-content">
                    <div class="section-heading">
                      <h4>GitHub:</h4>
                    </div>
                    <hr>
                    <%= render  "inline_edit", model: @portfolio, attribute: :github do %>
                      <p><%= @portfolio.github %></p>
                    <% end %>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col section-content">
                    <div class="section-heading">
                      <h4>LinkedIn:</h4>
                    </div>
                    <hr>
                    <%= render  "inline_edit", model: @portfolio, attribute: :linkedin do %>
                      <p><%= @portfolio.linkedin %></p>
                    <% end %>
                  </div>                    
                </div>
                
              </div>


            </div>
            <div class="row">
              <div class="col section-content">
                <h4>About Me:</h4>
                <%= render  "inline_edit", model: @portfolio, attribute: :about_me_text do %>
                  <p><%= @portfolio.about_me_text %></p>
                <% end %>
                
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col section mt-3">
          <div class="row">
            <div class="col section-heading">
              <h2>Projects</h2>
              <%= link_to  "Add", new_portfolio_project_path(@portfolio) %>
            </div>
            <hr>
          </div>
          <div class="row row-cols-4">
            <% @portfolio.projects.each do |project| %>
              <div class="col section-content project">
                <p><%= link_to project.name , portfolio_project_path(@portfolio, project) %></p>
                
                <% if project.show_image.attached? %>
                  <%= image_tag project.show_image, class: "project-show-photo" %>
                <% end %>
                
              </div>
            <% end %>            
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col section mt-3 mb-5">
          <div class="row">
            <div class="col section-heading">
              <h2>Skill Categories</h2>
              <%= link_to  "Add", new_portfolio_skill_category_path(@portfolio) %>            
            </div>
          </div>
          <div class="row">
            <div class="col section-content">
              <table>
                <tr>
                  <th>Name</th>
                  <th class="text-center">Skills</th>
                  <th>Edit</th>
                </tr>
                <% @portfolio.skill_categories.each do |skill_category| %>
                  <tr>
                    <td><%= link_to  skill_category.name, portfolio_skill_category_path(@portfolio, skill_category) %></td>
                    <td class="text-center"><%= skill_category.skills.count %></td>
                    <td><%= link_to  "Edit", edit_portfolio_skill_category_path(skill_category) %></td>
                  </tr>
                  
                <% end %>              
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

