<%= form_with(model: [@portfolio, project]) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="section-content">
        <div class="section-heading">
          <%= form.label :name, class: "form-label" %>
        </div>
        <hr>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <%= render "inline_fields", form: form, attribute: :description, title: "Description" do %>
        <%= form.text_area :description, class: "form-control" %>
      <% end %>
      
    </div>


    <div class="col">
      <%= render "inline_fields", form: form, attribute: :github, title: "GitHub" do %>
        <%= form.text_area :github, class: "form-control" %>
      <% end %>
      <%= render "inline_fields", form: form, attribute: :url, title: "Deployed URL" do %>
        <%= form.text_area :url, class: "form-control" %>
      <% end %>
      <%= render "inline_fields", form: form, attribute: :github_readme_url, title: "GitHub README URL" do %>
        <%= form.text_area :github_readme_url, class: "form-control" %>
      <% end %>
      <%= render "inline_fields", form: form, attribute: :show_readme, title: "Show README?" do %>
        <div class="form-check">
          <%= form.check_box :show_readme, class: "form-check-input"  %>
          <%= form.label :show_readme, class: "form-check-label"  %>
        </div>

      <% end %>
    </div>
  </div>
  
  <div class="row justify-content-around">

    <div class="col-3 section-content">
      <div class="section-heading">
        <%= form.label :show_image, style: "display: block" %>
      </div>
      <hr>
      <%= form.file_field :show_image %>
    </div>
    <div class="col-8 section-content">
      <div class="section-heading">
        <%= form.label :images, style: "display: block" %>
      </div>
      <hr>
      <%= form.file_field :images, multiple: true %>
    </div>
  </div>
  <div class="row mt-4">
  <hr>
  <div class="col d-grid">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>



<% end %>
