<%= form_with(model: [@portfolio, project]) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-around">
    <div class="col-sm-4">
      <div>
        <%= form.label :show_image, style: "display: block" %>
        <%= form.file_field :show_image %>
      </div>

      <div>
        <%= form.label :images, style: "display: block" %>
        <%= form.file_field :images, multiple: true %>
      </div>    

      <div>
        <%= form.submit %>
      </div>      
    </div>

    <div class="col-sm-4">

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>        

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :github, class: "form-label"  %>
        <%= form.text_field :github, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :url, class: "form-label" %>
        <%= form.text_field :url, class: "form-control" %>
      </div>

    </div>

  </div>

<% end %>
