<div id="<%= dom_id project %>">

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= project.github %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

  <p>
    <strong>Main image url:</strong>
    <%= project.main_image_url %>
  </p>

</div>
