<div class="container">
  <div class="row">
    <div class="col">
      <p style="color: green"><%= notice %></p>

      <%= render @project %>

      <% @project.images.each do |image|%>

        <%= image_tag image, id: "main-photo" %>
      
      <% end %>
      

      <div>
        <%= link_to "Edit this project", edit_portfolio_project_path(@project) %> |
        <%= link_to "Back", portfolio_path(@portfolio) %>

        <%= button_to "Destroy this project", [@portfolio, @project], method: :delete %>
      </div>    
    </div>
  </div>
</div>

