<div class="container">
  <div class="row mt-5">
    <div class="col section">
      <div class="row ">
          <% frame_id = dom_id(@project, "name_turbo_frame") %>
          <%= form_with model: [@portfolio, @project], method: :put, data: {turbo_frame: frame_id} do %>
            <%= turbo_frame_tag dom_id(@project, "name_turbo_frame") do %>
            <div class="col section-heading">
              <h2><%= @project.name %></h2>
              <%= link_to "Edit", edit_portfolio_project_path([@portfolio, @project]) %>
            </div>
            <% end %>
          <% end %>
              
        <hr>
      </div>
      <div class="row">
        <div class="col">




      <%= render  "inline_edit", portfolio: @portfolio, project: @project, attribute: :description, title: "Description" do %>
        <p><%= @project.description %></p>        
      <% end %>





        </div>
        <div class="col">
          <%= render  "inline_edit", portfolio: @portfolio, project: @project, attribute: :github, title: "GitHub" do %>
            <p><%= @project.github %></p>        
          <% end %>
          <%= render  "inline_edit", portfolio: @portfolio, project: @project, attribute: :github_readme_url, title: "GitHub README URL" do %>
            <p><%= @project.github_readme_url %></p>        
            <p>Show Readme: <b><%= @project.show_readme %></b></p>        
          <% end %>
          <%= render  "inline_edit", portfolio: @portfolio, project: @project, attribute: :url, title: "Deployed URL" do %>
            <p><%= @project.url %></p>        
          <% end %>    
        </div>
      </div>
      
      <div class="row justify-content-around">
        
        <hr>
        
        <div class="col-3 section-content">
            <div class="section-heading">
              <h5>Show Image:</h5>
            </div>
          <hr>
          
          <% if @project.show_image.attached? %>
            <%= image_tag @project.show_image, class: "project-show-photo" %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/300", id: "main-photo" %>
          <% end %>

          <%= form_with(model: [@portfolio, @project]) do |form| %>
            <div class="mb-3">
              <%= form.label :show_image, class: "form-label" %>
              <%= form.file_field :show_image, class: "form-control" %>
              <%= form.submit class: "btn btn-outline-primary mt-3" %>
            </div>  
          <% end %>
            

        </div>
        <div class="col-8 section-content">
            <div class="section-heading">
              <h5>Images:</h5>
              <%= link_to  "Edit", nil %>
            </div>
          <hr>
          <div class="row row-cols-4">
            
            <% if @project.images.attached? %>
              <% @project.images.each do |image|%>
                <div class="col section-content">
                  <%= image_tag image, class: "project-photos" %>
                </div>
              <% end %>
            <% end %>

          </div>
          <div class="row">
            <%= form_with(model: [@portfolio, @project]) do |form| %>
              <div class="mb-3">
                <%= form.label :images, class: "form-label" %>
                <%= form.file_field :images, multiple: true, class: "form-control" %>
                <%= form.submit class: "btn btn-outline-primary mt-3" %>
              </div>  
            <% end %>            
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <hr>
        <div class="col section-heading">
          <%= link_to  "Back", @portfolio %>
          <%= button_to "Delete", [@portfolio, @project], method: :delete, class: "btn btn-outline-danger" %> 
        </div>
      </div>
    </div>
  </div>
</div>

